@font-face {
  font-family: 'galmuri9';
  src: url('/fonts/Galmuri9.woff2') format('woff2');
}
@font-face {
  font-family: 'galmurimono9';
  src: url('/fonts/GalmuriMono9.woff2') format('woff2');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'galmuri9', 'galmurimono9';
}